




body {
 display: grid;
 height: 100vh;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 grid-template-areas:
 "navArea headerArea headerArea"
 "navArea contentArea contentArea"
 "navArea footerArea footerArea"
 ;

}





nav {
    grid-area: navArea;
    background-color: rgb(177, 97, 97);
}




header {
    background-color: aqua;



 grid-area: headerArea;

}




main {

    background-color: blue;



grid-area: contentArea;




}




footer {
    background-color: bisque;




grid-area: footerArea;

}
@media screen and (max-width:768px) 
{
body{ grid-template-columns: 100%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas:

     }
    
}


