.site_hero {
    height: 88vh;
    background-image: url("../assets/branding/wood_bkgrnd.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
 h1 h3{
    justify-content: center;
    align-items: center;
}
.hero_text{
    color: brown;
    font-family: 'Helvetica Neue';
    font-style: italic;
    text-align: center;
}
.hero_text h1{
    font-size:5em;
    margin-top: 10px;
}
.hero_text h3{
    font-size: 3em;
    margin-bottom: 40px;
    
}
.gallery{
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    
    
    object-fit: cover;
}
.gallery img{
    height: 20vh;
    width: 20vh;
    object-fit: cover;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin: 2vh;
    padding: 35%;

    display: grid;
    grid-template-columns:20% 70;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "navArea headerArea headerArea"
    "navArea galleryArea galleryArea"
    "navArea galleryArea galleryArea";
}
.carousel-item{
    display: flex;
    
   
   max-width: fit-content;
    
    max-height: fit-content;
}
.carouselslide{
    max-width: fit-content;
}
